<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт о древнерусской орфографии</title>

    <center><font size = "40"><b>Сайт о древнерусской орфографии</b></font></center><br>

</head>
<body>
<h1>Ancient Alphabet
</h1>
<img src= "{{ url_for('static', filename='info.png') }}" align="center" width="500" height="600">
<p><font size = "5"> Этот сайт содержит вопросы про древнерусскую орфографию и предлагает пользователю заполнить анкету, после чего перенаправляет его на страницу со статистикой, где можно ознакомиться, с тем на сколько хорошо люди знают звуки, существовавшие раньше в древнерусском языке. На сайте есть также отдельная вкладка со статистикой, где пользователь может посмотреть более подробную статистику по ответам женщин и мужчин.</font></p>
<p align = 'right'><font size = "5"><i>Сидеть на азах (начинать какую-нибудь науку)</i></font></p>
</body>
</html>