<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matplotlib</title>
</head>
<body>
    <h1>The knowledge of ѣ sound by men
</h1>
    <img src="{{ url_for('static', filename='men.jpg')}}">
    <h1>The knowledge of ѣ sound by women
</h1>
    <img src="{{ url_for('static', filename='women.jpg')}}">
<h1>The knowledge of Ѫ sound by men
</h1>
    <img src="{{ url_for('static', filename='men_1.jpg')}}">
    <h1>The knowledge of Ѫ sound by women
</h1>
<img src="{{ url_for('static', filename='women_1.jpg')}}">
<h1>The knowledge of Ѧ sound by men
</h1>
    <img src="{{ url_for('static', filename='men_2.jpg')}}">
    <h1>The knowledge of Ѧ sound by women
</h1>
<img src="{{ url_for('static', filename='women_2.jpg')}}">
<h1>The knowledge of o sound by men
</h1>
    <img src="{{ url_for('static', filename='men_3.jpg')}}">
    <h1>The knowledge of o sound by women
</h1>
<img src="{{ url_for('static', filename='women_3.jpg')}}">
</body>
</html>