<!DOCTYPE html>
<html lang="en">

<head>
    <title>Matplotlib Plot</title>
</head>

<body>
    <h1>The knowledge of Ѫ sound
</h1>
    <img src="{{ url_for('static', filename='109.jpg')}}">
<h1>The knowledge of ѣ sound
</h1>
    <div class="images">
        <div class="photo">
    <img src="{{ url_for('static', filename='110.jpg')}}">
            </div>
<h1>The knowledge of Ѧ sound
</h1>

            <div class="photo">
    <img src="{{ url_for('static', filename='111.jpg')}}">
                </div>
<h1>The knowledge of o sound
</h1>
            <div class="photo">
    <img src="{{ url_for('static', filename='112.jpg')}}">
        </div>
    </div>
</body>

</html>